<!--Autor: Cortez Ramirez Jose Kevyn
    Fecha: Noviembre 2020 -->
<!DOCTYPE html>
<html>
    <head> 
        <%- include('../partials/head'); %>
      </head>
    <body >
        <%- include('../partials/navbar'); %>
        <h1 class="titulo">Acerca de Kevyn</h1>
       
        <table id="texto" class="table table-hover table-gray table-sm table-responsive ">
            <thead>
                <tr>
                    <th scope="col">#
                    </th>
                    <th scope="col">Mis Gustos</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                  <th class="row">1

                  </th>
                  <td> ver Anime</td>
              </tr>
              <tr>
                <th class="row">2

                </th>
                <td> Escuchar Musica</td>
            </tr>
            <tr>
                <th class="row">3

                </th>
                <td> Ver Series</td>
            </tr>
            <tr>
                <th class="row">4

                </th>
                <td> Coleccionar Relojes</td>
            </tr>
            <tr>
                <th class="row">5

                </th>
                <td> Coleccionar Cerveza Artesanal</td>
            </tr>
            <tr>
                <th class="row">6

                </th>
                <td> Los videojuegos</td>
            </tr>
            <tr>
                <th class="row">7

                </th>
                <td> La tecnologia</td>
            </tr>
            <tr>
                <th class="row">9

                </th>
                <td> Cocinar</td>
            </tr>
            </tbody>
        </table>
        <%- include('../partials/script'); %>
    </body>

</html>
