<!DOCTYPE html>
<html>
    <head> 
        <%- include('../partials/head'); %>
      </head>
    <body >
        <%- include('../partials/navbar'); %>
        <h1 class="titulo">Juego</h1>
        <div alaing="center">
        <iframe src="https://www.cooljuegos.com/embed/the-island-survival/" frameborder="0" scrolling="no" width="1000" height="635" allowfullscreen></iframe>
        </div>
        <%- include('../partials/script'); %>
    </body>

</html>