<!--Autor: Cortez Ramirez Jose Kevyn
    Fecha: Noviembre 2020 -->
<!DOCTYPE html>
<html>
    <head> 
        <%- include('../partials/head'); %>
        <link rel="stylesheet"href="./stylesheets/Redessociales.css">
    <script
    type="text/javascript"
    async defer
    src="//assets.pinterest.com/js/pinit.js"
></script>
<script type="text/javascript">
    (function(d){
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
    }(document));
    </script>
      </head>
    <body >
      <div  id = "fb-root" > </div> 
<script  async  diferir  crossorigin = "anonymous"  src = "https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v9.0&appId= 280420270013368 & autoLogAppEvents = 1 "  nonce = " cIiuEkhR " > </script> 
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v9.0&appId=280420270013368&autoLogAppEvents=1" nonce="rcV9Redh"></script>

        <%- include('../partials/navbar'); %>
        <h1 class="titulo">Redes Sociales</h1>
        <br>
        <h2 class="subtitulos">Mis cuentas</h2>
        <div class="cuenta">
           
        <div >
            <a data-pin-do="embedUser" data-pin-lang="es" data-pin-board-width="200" data-pin-scale-height="60" data-pin-scale-width="80" href="https://www.pinterest.com/kevincortezkcrkcr/"></a>
        </div> 
        <div class="perfiles">
        <div id="fb-root"></div>
        <div class="fb-page" data-href="https://www.facebook.com/MySite-102528375011484" data-tabs="timeline" data-width="" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MySite-102528375011484" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/MySite-102528375011484">MySite</a></blockquote></div>
        </div>
       </div>
        <div id="accordion">
            <h2 class="subtitulos">Pinterest</h2>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Contenido que me gusta
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                <div alaign="center">
                    <div class="pincont">
                    <a href="https://www.pinterest.com/chikawonka/ghibli-collection/"
              data-pin-do="embedBoard"
              data-pin-board-width="600"
              data-pin-scale-height="420"
              data-pin-scale-width="200">
           </a>
        
            <a data-pin-do="embedBoard"
             data-pin-lang="es" 
             data-pin-board-width="600"
             data-pin-scale-height="420"
             data-pin-scale-width="200" 
             href="https://www.pinterest.com.mx/project_woof/tumblr/" class="pin"></a>
                      
                     </div>
                    </div>
                    
                    </div>
                </div>
              </div>
            </div>
            <h2 class="subtitulos">Facebook</h2>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Contenido que sigo
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="RedSocialCont">
                    <div class="fb-page" data-href="https://www.facebook.com/ANIMEMAIDO/" data-tabs="timeline" data-width="250" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/ANIMEMAIDO/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ANIMEMAIDO/">Ａｎｉｍｅ ｍａｉｄｏ アニメ</a></blockquote></div>
                    <div class="fb-page" data-href="https://www.facebook.com/AnimeMangayOcio/" data-tabs="timeline" data-width="250" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/AnimeMangayOcio/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AnimeMangayOcio/">Anime, manga y ocio</a></blockquote></div>
              
                </div>
                </div>
              </div>
            </div>
            <h2 class="subtitulos">Twitter</h2>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Contenido que me gusta
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                <div class="RedSocialCont">
                       <div>
                       <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Así es, ya están aquí, ya llegaron los estrenos de Noviembre. The Crown, Bob Esponja, Shawn Mendes, acción, drama, de todo… 🍿 <a href="https://t.co/m2iyuU2ULj">pic.twitter.com/m2iyuU2ULj</a></p>&mdash; Netflix Latinoamérica (@NetflixLAT) <a href="https://twitter.com/NetflixLAT/status/1322302470740127749?ref_src=twsrc%5Etfw">October 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                       </div>
                       <div>
                        <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Thusnelda, Folkwin, Arminius, más batallas, más sangre. Bárbaros temporada 2, próximamente. <a href="https://t.co/X6usMf3xKl">pic.twitter.com/X6usMf3xKl</a></p>&mdash; Netflix Latinoamérica (@NetflixLAT) <a href="https://twitter.com/NetflixLAT/status/1326208001460539395?ref_src=twsrc%5Etfw">November 10, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                       </div>
                    </div>
                    <a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
            </div>
          </div>
          <div class="Comentarios">
          <div  class = "fb-comments"  data-href = "http://localhost:3000/redessociales"  data-numposts = "6"  data-width = "" > </div> 
        </div>
          <%- include('../partials/script'); %>
    </body>

</html>